<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xie.dao.ArticleEntityMapper">
  <resultMap id="BaseResultMap" type="com.xie.entity.ArticleEntity">
    <id column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="classification_id" jdbcType="INTEGER" property="classificationId" />
    <result column="classification_name" jdbcType="VARCHAR" property="classificationName" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_state" jdbcType="VARCHAR" property="articleState" />
    <result column="article_image" jdbcType="VARCHAR" property="articleImage" />
    <result column="article_reading" jdbcType="BIGINT" property="articleReading" />
    <result column="article_tag" jdbcType="VARCHAR" property="articleTag" />
    <result column="article_ctime" jdbcType="TIMESTAMP" property="articleCtime" />
    <result column="article_mtime" jdbcType="TIMESTAMP" property="articleMtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xie.entity.ArticleEntity">
    <result column="article_body" jdbcType="LONGVARCHAR" property="articleBody" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    article_id, classification_id, classification_name, article_title, article_state, 
    article_image, article_reading, article_tag, article_ctime, article_mtime
  </sql>
  <sql id="Blob_Column_List">
    article_body
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.xie.entity.ArticleEntityExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.xie.entity.ArticleEntityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where article_id = #{articleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from article
    where article_id = #{articleId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xie.entity.ArticleEntityExample">
    delete from article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xie.entity.ArticleEntity">
    insert into article (article_id, classification_id, classification_name, 
      article_title, article_state, article_image, 
      article_reading, article_tag, article_ctime, 
      article_mtime, article_body)
    values (#{articleId,jdbcType=BIGINT}, #{classificationId,jdbcType=INTEGER}, #{classificationName,jdbcType=VARCHAR}, 
      #{articleTitle,jdbcType=VARCHAR}, #{articleState,jdbcType=VARCHAR}, #{articleImage,jdbcType=VARCHAR}, 
      #{articleReading,jdbcType=BIGINT}, #{articleTag,jdbcType=VARCHAR}, #{articleCtime,jdbcType=TIMESTAMP}, 
      #{articleMtime,jdbcType=TIMESTAMP}, #{articleBody,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xie.entity.ArticleEntity">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="classificationId != null">
        classification_id,
      </if>
      <if test="classificationName != null">
        classification_name,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articleState != null">
        article_state,
      </if>
      <if test="articleImage != null">
        article_image,
      </if>
      <if test="articleReading != null">
        article_reading,
      </if>
      <if test="articleTag != null">
        article_tag,
      </if>
      <if test="articleCtime != null">
        article_ctime,
      </if>
      <if test="articleMtime != null">
        article_mtime,
      </if>
      <if test="articleBody != null">
        article_body,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="classificationId != null">
        #{classificationId,jdbcType=INTEGER},
      </if>
      <if test="classificationName != null">
        #{classificationName,jdbcType=VARCHAR},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleState != null">
        #{articleState,jdbcType=VARCHAR},
      </if>
      <if test="articleImage != null">
        #{articleImage,jdbcType=VARCHAR},
      </if>
      <if test="articleReading != null">
        #{articleReading,jdbcType=BIGINT},
      </if>
      <if test="articleTag != null">
        #{articleTag,jdbcType=VARCHAR},
      </if>
      <if test="articleCtime != null">
        #{articleCtime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleMtime != null">
        #{articleMtime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleBody != null">
        #{articleBody,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xie.entity.ArticleEntityExample" resultType="java.lang.Long">
    select count(*) from article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update article
    <set>
      <if test="record.articleId != null">
        article_id = #{record.articleId,jdbcType=BIGINT},
      </if>
      <if test="record.classificationId != null">
        classification_id = #{record.classificationId,jdbcType=INTEGER},
      </if>
      <if test="record.classificationName != null">
        classification_name = #{record.classificationName,jdbcType=VARCHAR},
      </if>
      <if test="record.articleTitle != null">
        article_title = #{record.articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.articleState != null">
        article_state = #{record.articleState,jdbcType=VARCHAR},
      </if>
      <if test="record.articleImage != null">
        article_image = #{record.articleImage,jdbcType=VARCHAR},
      </if>
      <if test="record.articleReading != null">
        article_reading = #{record.articleReading,jdbcType=BIGINT},
      </if>
      <if test="record.articleTag != null">
        article_tag = #{record.articleTag,jdbcType=VARCHAR},
      </if>
      <if test="record.articleCtime != null">
        article_ctime = #{record.articleCtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.articleMtime != null">
        article_mtime = #{record.articleMtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.articleBody != null">
        article_body = #{record.articleBody,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update article
    set article_id = #{record.articleId,jdbcType=BIGINT},
      classification_id = #{record.classificationId,jdbcType=INTEGER},
      classification_name = #{record.classificationName,jdbcType=VARCHAR},
      article_title = #{record.articleTitle,jdbcType=VARCHAR},
      article_state = #{record.articleState,jdbcType=VARCHAR},
      article_image = #{record.articleImage,jdbcType=VARCHAR},
      article_reading = #{record.articleReading,jdbcType=BIGINT},
      article_tag = #{record.articleTag,jdbcType=VARCHAR},
      article_ctime = #{record.articleCtime,jdbcType=TIMESTAMP},
      article_mtime = #{record.articleMtime,jdbcType=TIMESTAMP},
      article_body = #{record.articleBody,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update article
    set article_id = #{record.articleId,jdbcType=BIGINT},
      classification_id = #{record.classificationId,jdbcType=INTEGER},
      classification_name = #{record.classificationName,jdbcType=VARCHAR},
      article_title = #{record.articleTitle,jdbcType=VARCHAR},
      article_state = #{record.articleState,jdbcType=VARCHAR},
      article_image = #{record.articleImage,jdbcType=VARCHAR},
      article_reading = #{record.articleReading,jdbcType=BIGINT},
      article_tag = #{record.articleTag,jdbcType=VARCHAR},
      article_ctime = #{record.articleCtime,jdbcType=TIMESTAMP},
      article_mtime = #{record.articleMtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xie.entity.ArticleEntity">
    update article
    <set>
      <if test="classificationId != null">
        classification_id = #{classificationId,jdbcType=INTEGER},
      </if>
      <if test="classificationName != null">
        classification_name = #{classificationName,jdbcType=VARCHAR},
      </if>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleState != null">
        article_state = #{articleState,jdbcType=VARCHAR},
      </if>
      <if test="articleImage != null">
        article_image = #{articleImage,jdbcType=VARCHAR},
      </if>
      <if test="articleReading != null">
        article_reading = #{articleReading,jdbcType=BIGINT},
      </if>
      <if test="articleTag != null">
        article_tag = #{articleTag,jdbcType=VARCHAR},
      </if>
      <if test="articleCtime != null">
        article_ctime = #{articleCtime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleMtime != null">
        article_mtime = #{articleMtime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleBody != null">
        article_body = #{articleBody,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xie.entity.ArticleEntity">
    update article
    set classification_id = #{classificationId,jdbcType=INTEGER},
      classification_name = #{classificationName,jdbcType=VARCHAR},
      article_title = #{articleTitle,jdbcType=VARCHAR},
      article_state = #{articleState,jdbcType=VARCHAR},
      article_image = #{articleImage,jdbcType=VARCHAR},
      article_reading = #{articleReading,jdbcType=BIGINT},
      article_tag = #{articleTag,jdbcType=VARCHAR},
      article_ctime = #{articleCtime,jdbcType=TIMESTAMP},
      article_mtime = #{articleMtime,jdbcType=TIMESTAMP},
      article_body = #{articleBody,jdbcType=LONGVARCHAR}
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xie.entity.ArticleEntity">
    update article
    set classification_id = #{classificationId,jdbcType=INTEGER},
      classification_name = #{classificationName,jdbcType=VARCHAR},
      article_title = #{articleTitle,jdbcType=VARCHAR},
      article_state = #{articleState,jdbcType=VARCHAR},
      article_image = #{articleImage,jdbcType=VARCHAR},
      article_reading = #{articleReading,jdbcType=BIGINT},
      article_tag = #{articleTag,jdbcType=VARCHAR},
      article_ctime = #{articleCtime,jdbcType=TIMESTAMP},
      article_mtime = #{articleMtime,jdbcType=TIMESTAMP}
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>
</mapper>