<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xie.dao.ClassEntityMapper">
  <resultMap id="BaseResultMap" type="com.xie.entity.ClassEntity">
    <id column="classification_id" jdbcType="INTEGER" property="classificationId" />
    <result column="classification_name" jdbcType="VARCHAR" property="classificationName" />
    <result column="classification_ctime" jdbcType="TIMESTAMP" property="classificationCtime" />
    <result column="classification_mtime" jdbcType="TIMESTAMP" property="classificationMtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    classification_id, classification_name, classification_ctime, classification_mtime
  </sql>
  <select id="selectByExample" parameterType="com.xie.entity.ClassEntityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from classification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from classification
    where classification_id = #{classificationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from classification
    where classification_id = #{classificationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xie.entity.ClassEntityExample">
    delete from classification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xie.entity.ClassEntity">
    insert into classification (classification_id, classification_name, 
      classification_ctime, classification_mtime
      )
    values (#{classificationId,jdbcType=INTEGER}, #{classificationName,jdbcType=VARCHAR}, 
      #{classificationCtime,jdbcType=TIMESTAMP}, #{classificationMtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xie.entity.ClassEntity">
    insert into classification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classificationId != null">
        classification_id,
      </if>
      <if test="classificationName != null">
        classification_name,
      </if>
      <if test="classificationCtime != null">
        classification_ctime,
      </if>
      <if test="classificationMtime != null">
        classification_mtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classificationId != null">
        #{classificationId,jdbcType=INTEGER},
      </if>
      <if test="classificationName != null">
        #{classificationName,jdbcType=VARCHAR},
      </if>
      <if test="classificationCtime != null">
        #{classificationCtime,jdbcType=TIMESTAMP},
      </if>
      <if test="classificationMtime != null">
        #{classificationMtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xie.entity.ClassEntityExample" resultType="java.lang.Long">
    select count(*) from classification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update classification
    <set>
      <if test="record.classificationId != null">
        classification_id = #{record.classificationId,jdbcType=INTEGER},
      </if>
      <if test="record.classificationName != null">
        classification_name = #{record.classificationName,jdbcType=VARCHAR},
      </if>
      <if test="record.classificationCtime != null">
        classification_ctime = #{record.classificationCtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.classificationMtime != null">
        classification_mtime = #{record.classificationMtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update classification
    set classification_id = #{record.classificationId,jdbcType=INTEGER},
      classification_name = #{record.classificationName,jdbcType=VARCHAR},
      classification_ctime = #{record.classificationCtime,jdbcType=TIMESTAMP},
      classification_mtime = #{record.classificationMtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xie.entity.ClassEntity">
    update classification
    <set>
      <if test="classificationName != null">
        classification_name = #{classificationName,jdbcType=VARCHAR},
      </if>
      <if test="classificationCtime != null">
        classification_ctime = #{classificationCtime,jdbcType=TIMESTAMP},
      </if>
      <if test="classificationMtime != null">
        classification_mtime = #{classificationMtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where classification_id = #{classificationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xie.entity.ClassEntity">
    update classification
    set classification_name = #{classificationName,jdbcType=VARCHAR},
      classification_ctime = #{classificationCtime,jdbcType=TIMESTAMP},
      classification_mtime = #{classificationMtime,jdbcType=TIMESTAMP}
    where classification_id = #{classificationId,jdbcType=INTEGER}
  </update>
</mapper>